Refer DataDisca_Session1_Test4 (updated document)

###### Installation

In [ ]:
# This is to install libraries from jupyter notebook, but not working
#Installing Plotly & Cufflinks pip install plotly pip install cufflinks

In [ ]:
pip install plotly

###### Imports

In [ ]:
# importing necessary libraries
import numpy as np
import pandas as pd
import chart_studio.plotly as py
import seaborn as sns
import plotly.express as px
from pandas_profiling import ProfileReport
%matplotlib

### Section 1 : Data varying according to regions

In [ ]:
# gaining formatted data from the xls file
Data_region = pd.read_excel('87520072.xls', sheet_name= "Data_region_T")
Data_region_df = pd.DataFrame(Data_region)
Data_region_df.head(2)

In [ ]:
#df.iloc[row_start:row_end , col_start, col_end]
Data_region_df=Data_region_df.iloc[:,:-2]
Data_region_df.head(2)

In [ ]:
from datetime import datetime 
import calendar

In [ ]:
# module:datetime, class:datetime
for x in Data_region_df.columns.values[3:83]:
    x = str(x.strftime("%b-%Y"))
    #print(x)

In [ ]:
# another method to extract month-Year

for col in Data_region_df.columns[3:83]: 
        col = col.date()
        #print((calendar.month_abbr[col.month]),'-',str(col.year))

In [ ]:
# renaming the columns of the dataframe
for col in Data_region_df.columns[3:83]:
    try:
        date = str(col.strftime("%b-%Y"))
    except AttributeError:
        continue
    Data_region_df.rename(columns={col:date}, inplace=True)

In [ ]:
# displaying the updated dataframe
Data_region_df.head(2)

In [ ]:
# to have an idea about data types
# Data_region_df.info()

In [ ]:
# accessing the cells of the dataframe
print(type(Data_region_df.iat[3,2]))

In [ ]:
# for rowIndex, row in Data_region_df.iterrows(): #iterate over rows
#     for columnIndex, value in row.items():
#         print(value, inplace=True)

##### pandas profiling

In [ ]:
from pandas_profiling import ProfileReport
import sweetviz

In [ ]:
profile1 = ProfileReport(Data_region_df, title="Pandas Profiling Report", explorative=True)

In [ ]:
#profile1.to_widgets()

In [ ]:
#profile1.to_file("data_region.html")

##### 1.1 saving files in csv and json formats (2&3)

In [ ]:
Data_region_df.to_csv("data_region_csv.csv")

In [ ]:
Data_region_df.to_json("data_region_json.json")

##### 1.2 columns and rows (4&5)

In [ ]:
print('columns x rows : ',Data_region_df.size) 
print('no of rows, no of columns : ',Data_region_df.shape)  
print('no. of columns : ',len(Data_region_df.columns)) 
print('no. of rows    : ',len(Data_region_df.index))

##### 1.3 filling the table (6)

In [ ]:
# adding minimum value as a column to the dataset
minValuesObj = Data_region_df.min(axis=1)
Data_region_df['MinValue'] = minValuesObj

# adding maximum value as a column to the dataset
maxValuesObj = Data_region_df.max(axis=1)
Data_region_df['MaxValue'] = maxValuesObj

Data_region_df.head(2)

In [ ]:
# loc: selecting by labels[rows,columns] , here : -means all , 0:3 - when you need a block of them (inclusive both sides)
uniqueValuesObj = Data_region_df.loc[:,Data_region_df.columns[3:-2]].nunique(axis=1)
uniqueValuesObj

In [ ]:
#adding uniques values as a column to the dataset
Data_region_df['UniqueValues'] = uniqueValuesObj
Data_region_df.head(2)

In [ ]:
# finding the missing values of each row
missingValsObj = Data_region_df.loc[:,Data_region_df.columns[3:-3]].isna().sum(axis=1)
Data_region_df['Missing_Vals'] = missingValsObj
Data_region_df.head(2)

In [ ]:
# Filled table : row-wise
# Data Type is not defined as it varies and Data Scales are not defined 
Data_region_df["Description"] = Data_region_df["Region"] + Data_region_df["WorkType"]
Data_region_df[['SeriesID','Description','MinValue','MaxValue','UniqueValues','Missing_Vals']]

In [ ]:
Data_region_df1 = Data_region_df.loc[:,Data_region_df.columns[:-5]].T.reset_index()
# reset_index adds up index to the dataframe
Data_region_df1.head(2)

In [ ]:
# changing the 1st row as header row
header_row = 0
Data_region_df1.columns = Data_region_df1.iloc[header_row]
Data_region_df1 = Data_region_df1.drop(header_row)
Data_region_df1 = Data_region_df1.reset_index(drop=True)
Data_region_df1.head(3)

In [ ]:
# accessing data of 1st column 
# apply(type) reveals the datatype of the accessed column cells
# Data_region_df1['SeriesID'].iloc[:].apply(type)

# adding datatype as a column to the dataset
dtype_Obj = Data_region_df1['SeriesID'].iloc[:].apply(type)
Data_region_df1['DataType'] = dtype_Obj

Data_region_df1.head(2)

##### 1.4 plotly charts (7)

###### 1.4.1 Scatter

In [ ]:
import plotly
import plotly.express as px

In [ ]:
# removing the columns which contains summary details
Data_region_df_plots = Data_region_df.iloc[:,:-5]
Data_region_df_plots.head(2)

In [ ]:
print(Data_region_df_plots.shape)

In [ ]:
# writing a loop to go through 2001-2021
year_range = range(1,22)
year_list = ["%02d" % x for x in year_range]

for i in range(len(year_list)):
    #print('20'+year_list[i])
    i+=1

In [ ]:
# method to combine months from same year into a one column
_df = pd.DataFrame() 
#_df['2001'] = Data_region_df_plots[[ x for x in Data_region_df_plots.columns if '2001' in x]].sum(axis=1)
#_df['2002'] = Data_region_df_plots[[ x for x in Data_region_df_plots.columns if '2002' in x]].sum(axis=1)
#_df

In [ ]:
#Data_region_df_plots.loc[:,['2001' in i for i in Data_region_df_plots.columns]]

In [ ]:
# applying the methodology to all the columns
year_range = range(1,22)
year_list = ["%02d" % x for x in year_range]

for i in range(len(year_list)):
    year='20'+year_list[i]
    _df[year] = Data_region_df_plots[[ x for x in Data_region_df_plots.columns if year in x]].sum(axis=1)
    i+=1

In [ ]:
#_df.head(2)

In [ ]:
#print(_df.shape)

In [ ]:
# combining the columns(relavant) of both dataframes 
# when using merge and join it gives an error as there are no common columns

other_cols = Data_region_df_plots.loc[:, ['SeriesID','Region','WorkType']]
other_cols['tmp']=1
#other_cols

_df['tmp']=1
_df = pd.merge(other_cols, _df, on=['tmp'])
_df = _df.drop('tmp', axis=1)
_df.head(2)

In [ ]:
df_year=_df
# df_year.head(2)

In [ ]:
#print(type(df_year.columns.values[3]))
#print(df_year.columns.values[3])

In [ ]:
# scatter plots comparing months in 2001 according to the region
fig = px.scatter(Data_region_df_plots, x="Region", y=["Sep-2001","Dec-2001"])
fig.show()

In [ ]:
fig = px.scatter(Data_region_df_plots, x="WorkType", y=["Sep-2001","Dec-2001"])
fig.show()

In [ ]:
fig1 = px.scatter(Data_region_df_plots, x="WorkType", y=["Sep-2001","Dec-2001"], color="Region", hover_data=['SeriesID'])
fig1.show()

###### pie charts

In [ ]:
region = df_year.groupby('Region').sum('count')
region.columns.values[0]
#region.index
#region
# adding another column as index 
region['Region'] =region.index
region.head(2)
#type(region)

In [ ]:
# dropping the current index column
region.reset_index(drop=True, inplace=True)
region.head(2)

In [ ]:
# taking last column as first column
first_column = region.pop('Region')
region.insert(0, 'Region', first_column)
region.head(2)

In [ ]:
region.loc[:,['2001']]

In [ ]:
pie_chart = px.pie(data_frame = region,values = '2001',names = 'Region',color= 'Region',title='Residential Building Work in 2001 according to Region')
pie_chart

Here for each territory, the number of residential building are same. If we go through the dat frame we can examine the same thing.

In [ ]:
header=region.head(1).T.iloc[0]
region_T_Aus = region.head(1).T[1:]
region_T_Aus.columns = header
region_T_Aus['Year'] =region_T_Aus.index
region_T_Aus.reset_index(drop=True, inplace=True)
#type(region_T_Aus)
pie_chart1 = px.pie(data_frame = region_T_Aus,values = '   Australian Capital Territory ',names = 'Year',color= 'Year',title='Australian Capital Territory residental building according to Years')
pie_chart1

Here we can see that the no of buildings have increased when the time passes by but not continuously.

In [ ]:
worktype = df_year.groupby('WorkType').sum('count')
worktype.head(2)

In [ ]:
worktype_Agedcare=worktype.head(1).T
#type(worktype_Agedcare)
#worktype_Agedcare
worktype_Agedcare['Year'] =worktype_Agedcare.index
worktype_Agedcare.reset_index(drop=True, inplace=True)

pie_chart2 = px.pie(data_frame = worktype_Agedcare,values = '  Aged care facilities ',names = 'Year',color= 'Year',title='Aged care facility residental building according to Years')
pie_chart2

In worktype dataframe also non residentail buildings under different categories are same. But it changes according to year with same values.

##### Animated Scatterplot

In [ ]:
# here I am going to use pandas melt, melt is used to reshape data, output = dataframe
melt_df = pd.melt(_df,id_vars=['SeriesID','Region','WorkType'],var_name='Year',value_name='Value')
# to have some filtered data we can use as below
#melt_df[melt_df['Year']=='2001']

In [ ]:
import plotly.io as pio
animated_plot=px.scatter(melt_df, x = 'Value', y = 'Region', color='WorkType',animation_frame='Year', title='Summary')
pio.show(animated_plot)

###### bubble charts

In [ ]:
#_df.head(2)
#region.head(2)
#worktype.head(2)
#Data_region_df_plots.head(2) --> with months
#melt_df.head(2)
#melt_df['Year'].dtypes

In [ ]:
melt_df['Year'] = pd.to_numeric(melt_df['Year'])

In [ ]:
import plotly.graph_objects as go
import plotly.offline as pyo
#Plotly allows you to generate graphs offline and save them in local machine

In [ ]:
fig = px.scatter(melt_df, x="Year", y="Region",size="Value", color="Region", hover_name="WorkType", log_x=True, size_max=60)
fig.show()

In [ ]:
fig = px.scatter(melt_df, x="Value", y="Region",size='Year', color="Region", hover_name="WorkType", log_x=True, size_max=60)
fig.show()

##### Bar Chart

In [ ]:
df_2001=melt_df[melt_df['Year']=='2001']
fig = px.bar(df_2001, x="Value", y="WorkType", color="Region", title="Bar Chart")
fig.show()
#print(type(df_2001))

##### Histogram

In [ ]:
fig = px.histogram(df_2001, x="Value", color="Region")
fig.show()

##### Maps

>Cufflinks is another library that connects the Pandas data frame with Plotly enabling users to create visualizations directly from Pandas. The library binds the power of Plotly with the flexibility of Pandas for easy plotting.

### Pearson Correlation

In [ ]:
pearson_df = _df.loc[:,_df.columns[3:]]
pearson_corr=pearson_df.corr()
pearson_corr

In [ ]:
import plotly.figure_factory as ff
fig = px.imshow(pearson_corr)
fig.show()
#fig = ff.create_annotated_heatmap(cor_df)

### Spearman Correlation

Here it is represented how to convert ordinal field to a scale variable

In [ ]:
spearman_df = _df.loc[:,_df.columns[1:3]]
spearman_df.head(2)

In [ ]:
spearman_df['Region'].unique()

In [ ]:
reg_code = {'   New South Wales ':1, '   Victoria ':2, '   Queensland ':3,
       '   South Australia ':4, '   Western Australia ':5, '   Tasmania ':6,
       '   Northern Territory ':7, '   Australian Capital Territory ':8}

In [ ]:
spearman_df['Region_code']= spearman_df['Region'].replace(reg_code)

In [ ]:
#spearman_df['Region_code'].value_counts()

But using a methodoly is better if the values have an order.

In [ ]:
sp_df = _df.loc[:,_df.columns[3:]]
spearman_corr=pearson_df.corr(method="spearman")
spearman_corr

In [ ]:
fig = px.imshow(spearman_corr)
fig.show()

we can see the two correlation matrices values are different.

#### Summary Statistic

In [ ]:
pearson_corr.describe()

In [ ]:
_df.groupby("Region").mean()

In [ ]:
_df.groupby(["WorkType","Region"])['2001'].mean()

In [ ]:
_df.groupby("Region")["2001"].count()

In [ ]:
_df.groupby("WorkType")["2001"].count()

### Section 2 : Data summary of Australia

In [ ]:
# gaining formatted data from the xls file
Data_aus = pd.read_excel('87520072.xls', sheet_name= "Data_Aus_T")
Data_aus_df = pd.DataFrame(Data_aus)
Data_aus_df.head(2)

###### 2.1 saving files in csv and json formats

In [ ]:
Data_aus_df.to_csv("data_region_csv.csv")

In [ ]:
Data_aus_df.to_json("data_region_json.json")

We can do the same analysis to the Section 2 as in Section 1